@page "/cartesian"

<h3>Cartesian</h3>

<RadzenDropDown TValue="Discipline" Data="@disciplines" TextProperty="Name"
                ValueProperty="Id" Change=@(args => FirstDiscipline(args)) />

<RadzenDropDown TValue="Discipline" Data="@disciplines" TextProperty="Name"
                ValueProperty="Id" Change=@(args => SecondDiscipline(args)) />

<RadzenButton Text="Calculate" Click="@ButtonClick" />

<br />
<br />

<center>
    <div id="cartesian" style="height: 550px; border:1px solid double; box-shadow: 5px 10px 8px 5px #888888;"></div>
</center>