@page "/createstudent"

<h3>Create Stundent</h3>

<EditForm Model="Student" OnValidSubmit="HandleSubmit">

    <DataAnnotationsValidator />

    <div class="input_width">
        <div style="margin-bottom: 1rem;">
            <label>Name</label>
            <InputText @bind-Value="Student.Name" class="form-control"></InputText>
            <ValidationMessage For="@(() => Student.Name)" />
        </div>

        <a href="studentlist"><button class="btn btn-primary">Go Back</button></a>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
    <br />
</EditForm>