@page "/updatestudent/{id:guid}"

<h3>Update Student</h3>

@if (Student != null)
{

    <EditForm Model="Student" OnValidSubmit="HandleSubmit">

        <DataAnnotationsValidator />

        <div class="input_width">
            <div style="margin-bottom: 1rem;">
                <label>Stundent</label>

                <div style="display: flex;">
                    <InputText @bind-Value="Student.Name" class="form-control" ></InputText>
                </div>

                <ValidationMessage For="@(() => Student.Name)" />
            </div>

            <a href="studentlist"><button class="btn btn-primary">Go Back</button></a>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
        <br/>
    </EditForm>
}
@code {
    [Parameter]
    public Guid Id { get; set; }

    public Student? Student { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Student = await StudentService.GetStudentById(Id);
        }
        catch
        {

        }
    }

    async Task HandleSubmit()
    {
        if (Student != null)
        {
            await StudentService.UpdateStudent(Student);
        }
    }
}
